# PostgreSQL Credentials
DB_NAME=animal_db
DB_USER=postgres
DB_PASSWORD=postgres123
DB_PORT=5432

# MinIO (S3) Configuration
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DEFAULT_BUCKET=animal-photos

# Google OAuth Configuration
GOOGLE_WEB_CLIENT_ID=520693286792-2jv9gk463vfm37rvpvpjgg76dm3b17lh.apps.googleusercontent.com

# Backend Security
JWT_SECRET=animal_collection_super_secret_jwt_key_2026